<footer class="footer">
  <div class="row footer-top">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <ul class="list-unstyled clear-margins">
        <li class="widget-container widget_nav_menu">
          <h4 class="title-widget">
            <%= t "footer.introduce"%>
          </h4>
          <ul>
            <li>
              <%= link_to "#" do %>
                <%= t "footer.about_us" %> <i class="fa fa-angle-right"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= t "footer.team_of_use" %> <i class="fa fa-angle-right"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= t "footer.openrating" %> <i class="fa fa-angle-right"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= t "footer.privacy_police" %> <i class="fa fa-angle-right"></i>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <ul class="list-unstyled clear-margins">
        <li class="widget-container widget_nav_menu">
          <h4 class="title-widget">
            <%= t "footer.cinema_blog"%>
          </h4>
          <ul>
            <li>
              <%= link_to "#" do %>
                <%= t "footer.movie_genre" %> <i class="fa fa-angle-right"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= t "footer.movie_review" %> <i class="fa fa-angle-right"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= t "footer.movie_blog" %> <i class="fa fa-angle-right"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= t "footer.hot_movie" %> <i class="fa fa-angle-right"></i>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <ul class="list-unstyled clear-margins">
        <li class="widget-container widget_nav_menu">
          <h4 class="title-widget">
            <%= t "footer.support"%>
          </h4>
          <ul>
            <li>
              <%= link_to "#" do %>
                <%= t "footer.feedback" %> <i class="fa fa-angle-right"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= t "footer.sale_service" %> <i class="fa fa-angle-right"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= t "footer.cinema_ticket" %> <i class="fa fa-angle-right"></i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <%= t "footer.career" %> <i class="fa fa-angle-right"></i>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <ul class="list-unstyled clear-margins">
        <li class="widget-container widget_recent_news">
          <h4 class="title-widget">
            <%= t "footer.contact"%>
          </h4>
          <div class="social-icons">
            <ul class="nomargin">
              <a href=""><i class="fa fa-facebook-square"></i></a>
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-youtube"></i></a>
              <a href=""><i class="fab fa-instagram-square"></i></a>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row footer-bottom">
    <div class="container-fluid">
      <p><%= t "footer.coppyright"%><br><%= t "footer.bot"%></p>
    </div>
  </div>
</footer>
