<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <%= link_to t("header.booking"), root_path, id: "logo" %>
    <%= form_tag url: "#", method: :get do %>
      <div class="search col-xs-6 col-md-4">
        <div class="input-group">
          <%= text_field_tag :search, params[:search],
           placeholder: t("header.search"), :class =>"form-control" %>
          <div class="input-group-btn">
            <%= button_tag(:class =>"btn") do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="menu"><%= link_to t("header.movies"),  root_path %></li>
        <li class="menu"><%= link_to t("header.theaters"),  help_path %></li>
        <li class="menu"><%= link_to t("header.news"), "#" %></li>
        <li class="menu">
          <li class="dropdown">
              <%= link_to '#', class: "dropdown-toggle",
               data: {toggle: "dropdown"} do %>
                <i class="fa fa-user"></i>
                <b class="caret"></b>
              <% end %>
            <ul class="dropdown-menu">
              <% if logged_in? %>
                <li>
                  <%= link_to t(".profile"), edit_user_path(current_user) %>
                </li>
                <li>
                  <%= link_to t(".change_pass"), "#" %>
                </li>
                <li class="divider"></li>
                <li>
                 <%= link_to t(".log_out"), logout_path, method: :delete %>
                </li>
              <% else %>
                <li><%= link_to t(".login"), login_path %></li>
              <% end %>
            </ul>
          </li>
        </li>
        <li class="language">
          <%= link_to t("english"), locale: "en" %>
          <%= link_to t("vietnam"), locale: "vi" %>
        </li>
      </ul>
    </nav>
  </div>
</header>
